<!DOCTYPE html>
<html ng-app="App">
<head>
	<title></title>
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/angular/angular.js"></script>
	<script src="options.js"></script>
</head>
<body ng-controller="OptionsController">
	<ul>
		<li ng-repeat='extension in extensions'>
			{{ extension.title }}
			{{ extension.regex }}
			{{ extension.enabled }}
			<button ng-click='toggle(extension);'>{{ extension.enabled }}</button>
			<button ng-click='uninstall(extension);'>uninstall</button>
		</li>
	</ul>
	<form name='form' ng-submit='install()' novalidate>
		
		<div class='control-group'>
			<label class='control-label' for="email">Url</label> 
			<div class='controls'>
				<input type="text" name="url" ng-model='url' placeholder='enter url' value="" required/>
				<div class="error ng-hide" ng-show="form.url.$dirty && form.url.$invalid">
					<small class="error" ng-show="form.url.$error.required">
						Url is required
					</small>
				</div>
			</div>
		</div>
		<button type='submit'>install</button>
	</form>
</body>
</html>